<ul id="main-menu" class="main-menu">
  <li>
    <a href="/admin/disasters">
      <i class="linecons-cog"></i>
      <span class="title">灾情互动</span>
    </a>
  </li>
  <li>
    <a href="">
      <i class="linecons-cog"></i>
      <span class="title">问卷管理</span>
    </a>
    <ul>
      <li>
        <a href="/admin/surveys">
          <span class="title">问卷</span>
        </a>
      </li>
      <li>
        <a href="/admin/questions">
          <span class="title">题库</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="">
      <i class="linecons-cog"></i>
      <span class="title">微信管理</span>
    </a>
    <ul>
      <!-- <li>
        <a href="dashboard-1.html">
          <span class="title">消息管理</span>
        </a>
      </li> -->
      <li>
        <a href="/admin/subscribers">
          <span class="title">粉丝管理</span>
        </a>
      </li>
      <li>
        <a href="/admin/articles">
          <span class="title">素材管理</span>
        </a>
      </li>
      <li>
        <a href="/admin/diymenus">
          <span class="title">菜单管理</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="">
      <i class="linecons-cog"></i>
      <span class="title">资源管理</span>
    </a>
    <ul>
      <li>
        <a href="/admin/article_managers">
          <span class="title">图文管理</span>
        </a>
      </li>
      <li>
        <a href="/admin/volunteers">
          <span class="title">志愿者管理</span>
        </a>
      </li>
      <li>
        <a href="/admin/communities">
          <span class="title">社区管理</span>
        </a>
      </li>
      <li>
        <a href="/admin/monitor_stations">
          <span class="title">站点管理</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href="">
      <i class="linecons-cog"></i>
      <span class="title">系统管理</span>
    </a>
    <ul>
      <li>
        <a href="/admin/users">
          <span class="title">管理员</span>
        </a>
      </li>
      <li>
        <a href="/admin/message_processors">
          <span class="title">消息管理</span>
        </a>
      </li>
    </ul>
  </li>
</ul>
