<div class="row" style="margin-left:1px;">
  <div class="col-xs-3">
    <input type="file" name="myfile" id="my-file-input" accept="image/gif, image/jpeg, image/jpg, image/png"></input>
  </div>
  <!-- <div class="col-xs-3">
    <a href="">从图片库选择</a>  
  </div> -->  
</div>
<div class="row" style="margin-left:5px;">
  <img id='ex-pic' src="" style="width:80px;display:none;">
</div>