<div class="weui_tabbar">
  <%= link_to 'http://weixin.lightning.sh.cn/oauths?reurl=http://weixin.lightning.sh.cn/communities/interact/', class: "weui_tabbar_item #{"weui_bar_item_on" if params[:action] == "interact"}", 'data-no-turbolink' => true do  %>
    <div class="weui_tabbar_icon">
      <i class="iconfont">&#xe61e;</i>
    </div>
    <p class="weui_tabbar_label">灾情互动</p>
  <% end %>
  <%= link_to 'http://weixin.lightning.sh.cn/oauths?reurl=http://weixin.lightning.sh.cn/communities/detection/', class: "weui_tabbar_item #{"weui_bar_item_on" if params[:action] == "detection"}", 'data-no-turbolink' => true do %>
    <div class="weui_tabbar_icon">
      <i class="iconfont">&#xe606;</i>
    </div>
    <p class="weui_tabbar_label">社区实况</p>
  <% end %>

  <%= link_to 'http://weixin.lightning.sh.cn/oauths?reurl=http://weixin.lightning.sh.cn/communities/centre/', class: "weui_tabbar_item #{"weui_bar_item_on" if params[:action] == "centre"}", 'data-no-turbolink' => true do %>
    <div class="weui_tabbar_icon">
      <i class="iconfont">&#xe61c;</i>
    </div>
    <p class="weui_tabbar_label">个人中心</p>
  <% end %>
</div>