<div class="container">
  <div class="row">
    <div class="col-xs-11">
      <h4 style="font-weight: bolder;">上海市空气质量预报</h4>  
    </div>
    <div class="col-xs-11">
      <p><%= @time %>&nbsp;&nbsp;&nbsp;&nbsp;上海市社区气象安全一点通</p>  
    </div>
    <div class="col-xs-12">
      <%= image_tag @picture, :style => "width: 100%" %>  
    </div>
    <div class="col-xs-12" style="text-align: center;">
      <p>上海市空气质量预报</p>
    </div>
  </div>
</div>