<% content_for :title, "生活指数" %>
<!-- 生活指数 -->
<div class="weui_container">
	<div class="weui_content">
		<div class="my-panel">
			<div class="panel-hd alpha-bg">
				生活指数
				<span></span>
			</div>
			<div class="panel-hd alpha-bg">
				
			</div>
		</div>
	</div>
</div>