var community_option = "<option>请选择绑定街道</option>";
<% @districts.each do |s| %>
  community_option = community_option + "<option value='<%= s[1]%>'><%= s[0]%></option>"
<% end %>
$("#article_manager_community").html(community_option);
