var community_option = "<option>请选择区县</option>";
<% @districts.each do |s| %>
  community_option = community_option + "<option><%= s%></option>"
<% end %>
$("#article_manager_district").html(community_option);
