<div class="col-xs-12 question-option fields">
  <div class="col-xs-7"><%= item.text_field :option_title, :placeholder => '输入选项', :class => 'form-control input' %></div>
  <div class="col-xs-5">
    <%= link_to_remove_fields "删除选项", item %>
  </div>
</div>
