<!-- 五日天气预报 -->
<div class="weui_container">
	<div class="weui_content">
		<!--begin: 半透明panel -->
		<div class="my-panel">
			<div class="panel-hd alpha-bg">详细信息</div>
			<div class="panel-bd alpha-bg">hello</div>
			<div class="panel-ft alpha-bg">footer</div>
		</div><!--end: 半透明panel -->
	</div>
</div>
