<!-- 五日天气预报 -->
<div class="weui_container">
	<div class="weui_content">
		<!-- 天气预报 -->
		
		<!--begin: 当前天气详情 -->
		<div class="my-panel">
			<div class="panel-bd alpha-bg weui_grids weather">
				<div class="weui_grid">
					风 速<br>
					<i class="iconfont">&#xe60f;</i>
					<strong>1级</strong><br>
					<small>东风</small>	
				</div>
				<div class="weui_grid">
					降 水<br>
					<i class="iconfont">&#xe608;</i>
					<strong>0.0</strong><br>
					<small>mm</small>	
				</div>
				<div class="weui_grid">
					能见度<br>
					<i class="iconfont">&#xe616;</i>
					<strong>大于10</strong><br>
					<small>km</small>	
				</div>
				<div class="weui_grid">
					露 点<br>
					<i class="iconfont">&#xe610;</i>
					<strong>26.0</strong><br>
					<small>%</small>	
				</div>
				<div class="weui_grid">
					气 压<br>
					<i class="iconfont">&#xe60b;</i>
					<strong>1020.7</strong><br>
					<small>hpa</small>	
				</div>
			</div>
		</div><!--end: 当前天气 -->

		<!--begin: 五日预报 -->
		<div class="my-panel">
			<div class="panel-hd alpha-bg">五日预报</div>
			<div class="panel-bd alpha-bg weui_grids weather">
				<div class="weui_grid">
					<strong>今天</strong><br>
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<br><br><br><br><br><br><br><br><br><br>	
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<small>东风</small><br>
					<small> <3级 </small>
				</div>
				<div class="weui_grid">
					<strong>明天</strong><br>
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<br><br><br><br><br><br><br><br><br><br>	
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<small>东风</small><br>
					<small> <3级 </small>
				</div>
				<div class="weui_grid">
					<strong>周三</strong><br>
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<br><br><br><br><br><br><br><br><br><br>
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<small>东风</small><br>
					<small> <3级 </small>
				</div>
				<div class="weui_grid">
					<strong>周四</strong><br>
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<br><br><br><br><br><br><br><br><br><br>
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<small>东风</small><br>
					<small> <3级 </small>
				</div>
				<div class="weui_grid">
					<strong>周五</strong><br>
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<br><br><br><br><br><br><br><br><br><br>
					<i class="iconfont">&#xe630;</i>
					<strong>多云</strong><br>
					<small>东风</small><br>
					<small> <3级 </small>
				</div>
			</div>
		</div><!--end: 五日预报 -->
	</div>
</div>

