/**============全局样式==============**/
body, html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}
body {
	overflow-x: hidden;
  background-color: #fbf9fe;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;              
}
// 微信端页面，背景图容器
.weui_container {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .weui_content {
		padding: 10px;
		height: 100%;
	}
}
// 半透明pannel
.my-panel {
	color: #fff;
	margin-bottom: 10px;
	.panel-hd {
		padding: 8px 10px;
		font-size: 18px;
		margin-bottom: 1px;
		&:before, &:after {
			content: " ";
	    display: table;
		}
	}
	.panel-bd {
		margin-bottom: 1px;
		padding: 10px 0;
		&:before, &:after {
			content: " ";
	    display: table;
		}
	}
	.panel-ft {
		padding: 5px 10px;
		&:before, &:after {
			content: " ";
	    display: table;
		}
	}
}
// 半透明背景
.alpha-bg {
	background: rgba(0,0,0,0.3);
}
// 透明boder-bottom
.mborder {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

// overwrite weui tababr
.weui_tab_bd {
	padding-bottom: 54px;
}
.weui_tabbar {
	background: rgba(0,0,0,0.7);
	.weui_tabbar_item {
		padding-top: 0;
		padding-bottom: 3px;
		text-decoration: none;
		.weui_tabbar_label {
			margin-top: 0;
			color: #fff;
		}
		.weui_tabbar_icon {
			height: auto;
		i{
				font-size: 24px;
				color: #fff;
			}
		}
	}
	.weui_bar_item_on {
		color: #00D9CF;
		.weui_tabbar_icon i{
			font-size: 24px;
			color: #00D9CF;
		}
		.weui_tabbar_label {
			color: #00D9CF;
		}
	}
	p {
		margin: 0;
	}
}
// 五日天气预报
// 去除grid下边框x
.weather {
	position: relative;
	.weui_grid {
		padding: 10px;
		width: 20%;
		text-align: center;
		&:after {
			border: none !important;
		}
		.empty {
			height: 260px;
		}
		i {
			font-size: 28px;
		}
		img {
			height: 30px;
			margin: 0 auto;
		}
		small {
			font-size: 12px;
		}
		strong {
			font-size: 16px;
		}
	}
	#five_weather_chart {
		position: absolute;
		left: 0;
		top: 105px;
		width: 100%;
		height: 240px;
		background-color: #ddd;
	}
}
