/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require xenon/gd.Default
 *= require xenon/bootstrap-datetimepicker
 *= require weui
 *= require weixin_page
 */

@import "bootstrap";

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1461640534_763969.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1461640534_763969.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1461640534_763969.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1461640534_763969.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1461640534_763969.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
  font-family:"iconfont";
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  display: block;
  -webkit-text-stroke-width: 0.2px;
}  

body {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif
}
ul {
  list-style: none;
  li {
    float: left;
  }
}
.row {
  margin: 0;
}
.rich_media_title {
  padding-bottom: 10px;
  margin-bottom: 14px;
  border-bottom: 1px solid #e7e7eb;
  line-height: 1.4;
  font-weight: 400;
  font-size: 24px;
}

.rich_media_meta_list {
  position: relative;
  z-index: 1;
  margin-bottom: 18px;
  line-height: 20px;
  em {
    color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
}
.input-group {
  margin-bottom: 10px;
}
.volunteer-form {
  border: 1px solid #d3d3d3;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 11px;
  box-shadow: 5px 5px 5px #888;
}
.error {
  color: #f60000;
}
.warning_container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 11px;
  box-shadow: 5px 5px 5px #888;
  .row {
    margin: 5px;
  }
  img {
    width: 82px;
    float: left;
  }
}
.monitor-tool-bar {
  height: 32px;
  line-height: 32px;
  ul {
    padding: 0;
    margin: 0;
  }
  background-color: #d3d3d3;
  text-align: center;
  .button {
    float: left;
    cursor: pointer;
    background-color: #a3a3a3;
  }
  .active {
    color: #fff;
    font-weight: bold;
    background-color: #6c80fc;
  }
}
.monitor {
  text-align:center;
  .head {
    height: 52px;
    border-bottom: 1px solid #d3d3d3;
  }
  .page{
    width: 90%;
    overflow: hidden;
    text-align: text;
    margin: 10px auto;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    .title {
      font-weight: bold;
      font-size: 16px;
      color: #a3a3a3;
      height: 52px;
      line-height: 52px;
      border-bottom: 1px solid #d3d3d3;
    }
    .line {
      height: 42px;
      line-height: 42px;
      border-bottom: 1px solid #d3d3d3;
      background-color: #f1fafa;
      span {
        float: left;
      }
      img {
        width: 38px;
        height: 37px;
        float: right;
        padding-top: 5px;
        padding-right: 10px;
      }
    }
  }
}
#mapContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
#toolbar{
  position:absolute;
  right:5px;
  width:32px;
  text-align:center;
  padding-top:5px;
  filter:alpha(opacity=76);
  opacity:0.6;
  background:#fff;
  z-index:999;
}
#toolbar button{
  width:32px;
  height:92px;
  margin-right:10px;
  font-size:14px;
  background-color:#36cdff;
  color:#333;
}
.explan {
  float: none;
  border: 1px solid #d3d3d3;
  background-color: #f1fafa;
  margin: 10px auto;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  text-indent: 32px;
}
#disaster-uploader {
  .title {
    border-bottom: 1px solid #d3d3d3;
  }
}
.notice {
  color: #ec6f00;
}
.disaster-item {
  background-color: #fde099;
  border: 1px solid #d3d3d3;
  margin-top: 10px;
  padding: 15px;
}
.disaster-picture-list {
  margin: 10px auto;
  img {
    width: 100%;
    margin-bottom: 5px;
  }
}
input[type=file] {
  width: 100%;
  height: 42px;
  line-height: 42px;
  padding: 5px;
  font-size: 22px;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  background-color: #99d4fd;
  margin-bottom: 20px;
}
