.weui_content_communities {
  overflow-y: auto;
  height: 100%;
  #map_container {
    height: 100%;
    width: 100%;
    display: block;
  }
  .header{
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    color: #fff;
    text-align: center;
    line-height: 35px;
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0px;
    right: 0px;
    .weui_navbar_item {
      padding: 5px 0;
      &:after {
        border-right: 1px solid rgba(203,203,203,0.6);
        height: 80%;
        top: 10%;
      }
      &:active {
        background-color: rgba(0,0,0,0.3);
      }
    }
    .weui_bar_item_on {
      background-color: transparent;
      color: #00D9CF;
    }
  }

  // 右上角按钮组
  .buttons {
    width: 50px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 65px;
    right: 20px;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      text-align: center;
      width: 100%;
      height: 56px;
      font-size: 10px;
      background-color: transparent;
      border-bottom: 1px solid rgba(255,255,255,0.45);
      &:active {
        background-color: rgba(0, 0, 0, 0.5);
      }
      &:last-child {
        border-bottom: none;
      }
      i {
        font-size: 26px;
      }
      img {
        height: 36px;
        width: auto;
        display: block;
        margin: 0 auto;
        padding: 5px 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .active {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  #showList {
    padding-right: 90px;
    padding-top: 35px;
    padding-bottom: 80px;
    .show_disasters {
      margin-top: 30px;
      margin-left: 10px;
      padding: 10px;
      color: #fff;
      border-radius: 8px;
      a {
        color: #fff;
      }
    }
    .show_disasters_push {
      padding-top: 10px;
      margin-top: 5px;
      a {
        color: #00d9cf;
      }
    }
  }
}

//实况监测页面
.weui_detection {
  padding: 10px;
  .detection_content_1 {
    padding-top: 20px;
    i ,span {
      font-size: 15px;
    }
  }
  .detection_content {
    color: #fff;
    font-size: 12px;
    .detection_content_hr {
      border: 1px solid rgba(255, 255, 255, 0.25);
      margin: 10px 0 15px 0;
    }
    .detection-weather-info {
      font-size: 16px;
      margin-bottom: 15px;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      padding: 0px 15px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 17px;
      .detection-weather-text {
        display: inline;
      }
      .detection-weather-icon {
        display: inline;
          i {
          display: inline;
          font-size: 20px;
          margin-right: 5px;
        }
      }
    }
    .detection_content_grids {
      padding-left: 4px;
      .detection_content_grid {
        text-align: center;
        display: inline-block;
        width: 33.33%;
        i {
          font-size: 30px;
        }
      }
      .detection_content_grid_1 {
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        border-right: 1px solid rgba(255, 255, 255, 0.25);
      }
    }
    .detection_content_ponding {
      padding: 0 10px;
    }
    .detection_content_lightning {
      // margin: 0 20px;
      background-color: rgba(255, 255, 255, 0.25);
      img {
        width: 100%;
        height: auto;
      }
    }
    .detection_content_lightning_text {
      padding:  20px 20px 0 20px;
      line-height: 1.8em;
    }
  }
  .detection_content_3 {
    margin-bottom: 52px;
  }
}


//个人中心
.communities_centre_userinfo {
  .communities_centre_userinfo_content {
    padding-top: 50px;
    color: #fff;
    text-align: center;
    .communities_centre_userinfo_image {
      padding-bottom: 10px;
      img {
        width: 60px;
      }
    }
  }
}
.communities_belong {
  margin: auto 15px;
  .communities_belong_1, .communities_belong_2 {
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    .link {
      display: block;
      color: #333;
      text-decoration: none;
    }
    .right-pull {
      color: #9B9B9B;
    }
    .input-left-icon {
      color: #9B9B9B;
      font-size: 1.2em;
      padding-right: 5px;
    }
  }
}

//个人中心——绑定社区
.communities_belong1 {
  margin: 30px 15px;
  .communities_change1 {
    margin: 10px 15px;
    i {
      color: #F5A623;
    }
    #location_address {
      color: #4A4A4A;
    }
  }
}
.makesure {
  margin-top: 30px;
  background-color: #7ED321 !important;
  border: none !important;
  border-radius: 0 !important;
  color: #fff;
  width: 100%;
}
