.disaster_container {
  height: 100%;
  background-color: #F0F1F2;
  .communities_centre_userinfo_content {
    padding: 30px 0;
  }
  .disaster_content {
    font-size: 14px;
    padding-bottom: 20px;
    input, select {
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
      border: 0;
      :focus {
        border: 0;
      }
    }
    select {
      background-color: #fff;
      height: 24px;
    }
    .weui_cells {
      font-size: 14px;
      margin-top: 10px;
    }
    .disaster-input {
      padding: 12px;
      margin: 10px 0;
      background-color: #fff;
      input, select{
        width: 60%;
      }
      textarea {
        border: none;
        box-shadow: none;
      }
      strong {
        font-weight: 1000;
      }
      .iconfont {
        line-height: 24px;
      }
      #location_address_in {
        color: #9B9B9B;
      }
    }
    .disaster-time {
      margin-top: 0;
    }
    .disaster_said {
      padding-left: 12px;
    }
    .btn {
      margin-top: 30px;
    }
  }
}

.disaster_picture_content, .disaster_position_content {
  overflow: auto;
  height: 100vh;
  color: #fff;
  padding: 15px 15px;
  border-top: 1px solid rgba(255,255,255,0.25);
  .disaster-picture-list {
    img {
      border: 2px solid #fff;
      border-radius: 8px;
    }
  }
  .disaster-picture-push {
    .submit_input {
      input {
        border-radius: 5px;
        background-color: #fff;
        line-height: 1px;
        color: #d3d3d3;
      }
    }
    .headTabRight {
      padding: 0;
    }
  }
}


// 灾情show
.disaster_show_container {
  height: 100%;
  .disaster_show_top {
    color: #fff;
    background-color: RGB(0, 165, 197);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    .communities_centre_userinfo_content {
      padding: 10px;
    }
  }
  .disaster-panel {
    padding-top: 0;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    .panel-hd {
      padding: 12px 10px 8px;
      font-size: 16px;
      font-weight: lighter;
      border-bottom: 1px solid rgba(255,255,255,0.25);
      overflow: auto;
      span {
        float: right;
        padding-top: 5px;
        font-size: 12px;
      }
    }
    .panel-bd {
      margin-bottom: 1px;
      padding: 12px 0;
      overflow: auto;
    }
    h4 {
      background-color: #d3d3d3;
      margin-top: 0;
      padding: 8px;
    }
    .disaster-picture-list {
      padding: 0 10vw;
      color: #d3d3d3;
      img {
        border: 2px solid #fff;
        border-radius: 8px;
      }
    }
  }
}

.acticle_container {
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: image-url("weixin_bg.png");
  background-size: 100% 100%;
  .article {
    color: #fff;
    .page_title {
      text-align: center;
      font-size: 26px;
      color: #fff;
      font-weight: 400;
      margin: 20px 15% 10px;
    }
    .weui_article {
      h1 {
        color: #de7c23;
        font-weight: bold;
      }
    }
  }
}


// 上传灾情图片
.new_disaster_picture {
  a:hover {
    text-decoration: none;
  }
  .weui_btn_disabled {
    color: rgba(255, 255, 255, 0.6);
  }
}
