// 清除weui_grid右侧边框
.before-none:before {
	border: none;
}
// 清除weui_grid下部边框
.after-none:after {
	border: none;
}

// 半透明水平分割线
.divider {
  border-top: 1px solid rgba(255,255,255,0.4);
  margin: 0;
}
// ============五日天气预报===========
.now-weather {
	margin-bottom: 60px;
	.release {
		margin-top: 10px;
	}
	.weather-info {
		position: relative;
		display: block;
		margin-bottom: 0px;
		margin-top: 15px;
		height: 90px;
		.weather-left {
			font-family: "degree";
			position: absolute;
			top: 0;
			left: 0;
			width: 180px;
			font-size: 70px;
		}
		.weather-right {
			position: absolute;
			top: 0;
			left: 160px;
			padding-top: 10px;
			.warn {
				font-size: 16px;
				display: inline-block;
				height: 36px;
				padding: 3px 15px;
				background: rgba(0,0,0,0.4);
				border-radius: 17px;
				i { 
					display: inline;
					font-size: 20px;
					margin-right: 5px;
				}
			}
			.location {
				font-size: 22px;
				height: 34px;
				height: 34px;
				i {
					font-size: 22px;
					display: inline-block;
				}
			}
		}
	}
	.other-info {
		i {
			display: inline;
			font-size: 18px;
		}
		span{
			font-size: 22px;
			margin-right: 20px;
		}
	}
}
.five-weather {
	position: relative;
	&:before {
		border: none;
	}
	.weui_grid {
		padding: 10px 0 0px;
		width: 20%;
		text-align: center;
		&:after {
			border: none !important;
		}
		.empty {
			height: 190px;
		}
		i {
			font-size: 30px;
			display: block;
			margin-bottom: 3px;
		}
		img {
			height: 30px;
			margin: 5px auto;
		}
		span {
			margin-bottom: 5px;
			font-size: 12px;
			display: block;
		}
		small {
			font-size: 10px;
			display: block;
		}
		.five-info {
			margin-bottom: 3px;
			font-size: 14px;
		}
		.week-day {
			font-size: 16px;
			margin-bottom: 0;
		}
	}
	#five_weather_chart {
		position: absolute;
		left: 0;
		top: 105px;
		width: 100%;
		height: 180px;
	}
}

// ============生活指数===========
.life-index {
	.panel-bd {
		padding: 0;
	}
	.weui_grid {
		width: 50%;
		height: 162px;
		&:after, &:before {
			border-color: rgba(255,255,255,0.2);
		}
		.index-left {
			height: 122px;
			line-height: 122px;
			width: 40%;
			float: left;
			i {
				font-size: 40px;
			}
		}
		.index-right {
			width: 60%;
			float: left;
			font-size: 16px;
			padding-top: 15px;
			span, small{
				font-weight: lighter;
				display: block;
				margin-bottom: 10px;
			}
			small {
				color: #B7CED2;
			}
		}
	}
}

// ============健康气象===========
.healthy-weather {
	margin-bottom: 0;
	.panel {
		margin-bottom: 1px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    .panel-heading {
	    padding: 0px;
	    border-bottom: none;
	    border-top-right-radius: 0px;
	    border-top-left-radius: 0px;
	    a {
	    	color: #fff;
	    	display: block;
	    	text-decoration: none;
	    	padding: 0 12px;
	    	font-size: 16px;
	    	overflow: auto;
	    	&:hover {
	    		color: #fff;
	    		text-decoration: none;
	    	} 
	    	span {
	    		height: 64px;
	    		line-height: 66px;
	    	}
				i {
					font-size: 32px;
					display: inline-block;
				}
	    }
		}
		.panel-body {
			border-top: 1px solid rgba(255,255,255,0.2);
			p {
				font-size: 16px;
				small {
					font-size: 14px;
				}
			}
			// 半透明水平分割线
			.dot-hr {
				margin-top: 5px;
		    margin-bottom: 8px;
		    border: 0;
		    border-top: 1px dotted rgba(255,255,255,0.3);
			}
		}
	}
}

// ============空气质量===========
.air-quality {
	.my-panel {
		margin-bottom: 0;
		.panel-bd {
			padding-bottom: 5px;
		}
	}
	// 空气质量描述
	.now-time {
    font-size: 18px;
    margin-top: 25px;
	}
	.now-air {
		margin-top: 15px;
		height: 30px;
		span {
			font-size: 18px;
		}
	}
	.tips {
		height: 28px;
		padding: 3px 0;
		font-size: 16px;
		display: inline-block;
		background: rgba(0,0,0,0.3);
		text-align: center;
		border-radius: 12px;
		.tips-l {
			height: 22px;
			display: inline-block;
			padding: 0px 8px 0 12px;
			border-right: 1px solid rgba(255,255,255,0.5);
		}
		.tips-r {
			height: 22px;
			display: inline-block;
			padding: 0px 12px 0 8px;
		}
	}
	.pollutant {
		margin-top: 10px;
		margin-bottom: 16px;
	}
	.range, .range-info {
		width: 100%;
		display: inline-block;
		margin-bottom: 0;
		list-style: none;
		li {
			display:inline-block;
			float: left;
			width: 16.666%;
		}
	}
	.range-info li{
		text-align: right;
		div{
			height: 18px;
		}
	}
	.air-intro {
		text-align: justify;
		padding: 15px 10px 10px;
	}
	// 明天空气质量
	.tomorrow-air {
		width: 100%;
		display: inline-block;
		color: #fff;		
		padding: 8px 0;
		.part {
			width: 50%;
			float: left;
			padding: 4px 0px 4px 15px;
			.now-time {
				font-size: 16px;
				margin-top: 10px;
			}
			.now-air {
				margin-top: 10px;
			}
			.tips {
				margin-top: 6px;
			}
			.pollutant {
				margin-top: 18px;
				margin-bottom: 0;
			}
		}
	}
	// 过去24小时空气质量指数变化图
	.last24 {
		color: #fff;
		.title {
			padding: 18px 10px;
			font-size: 16px;
		}
		.content {
			padding: 0 5px;
			height: 325px;
			ul {
				border: none;
				li {
					width: 20%;
					a {
						text-align: center;
						font-size: 12px;
						color: #fff;
				    background-color: transparent;
				    border: none;
				    border-bottom-color: transparent;
				    cursor: default;
				    margin-right: 0;
				    padding: 6px 0 4px;
						border-radius: 0;
					}
				}
				.active a {
					background: rgba(0,0,0,0.27);
				}
			}
			.tab-content {
				padding-top: 10px;
				width: 100%;
				.tab-pane div {
					height: 240px;
					width: 100%;
				}
			}
		}
	}

	.color1 {
		color: #7ED321;
	}
	.color2 {
		color: #F8E71C;
	}
	.color3 {
		color: #F5A623;
	}
	.color4 {
		color: #F9233E;
	}
	.color5 {
		color: #B6015C;
	}
	.color6 {
		color: #920012;
	}

	.bg1 {
		background-color: #7ED321;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.bg2 {
		background-color: #F8E71C;
	}
	.bg3 {
		background-color: #F5A623;
	}
	.bg4 {
		background-color: #F9233E;
	}
	.bg5 {
		background-color: #B6015C;
	}
	.bg6 {
		background-color: #920012;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}