// 清除weui_grid右侧边框
.before-none:before {
	border: none;
}
// 清除weui_grid下部边框
.after-none:after {
	border: none;
}

// 半透明水平分割线
.divider {
  border-top: 1px solid rgba(255,255,255,0.4);
  margin: 0;
}
// ============气象预警===========
.city-warn {
	.my-panel {
		margin-top: 10px;
	}
	.panel-hd {
		font-size: 14px;
		img {
			margin-top: -2px;
			margin-left: -10px;
	    margin-right: -13px;
		}
	}
	.panel-bd {
		padding: 20px;
		text-align: justify;
		line-height: 24px;
	}
}

// ============五日天气预报===========
.now-weather {
	margin-bottom: 30px;
	.toper-bar {
		margin-top: 10px;
		.release {
			
		}	
	}
	.weather-info {
		position: relative;
		display: block;
		margin-bottom: 0px;
		margin-top: 15px;
		height: 90px;
		.weather-left {
			font-family: "degree";
			position: absolute;
			top: 0;
			left: 0;
			width: 180px;
			padding-left: 10px;
			font-size: 70px;
			.location {
				font-size: 18px;
				height: 34px;
				line-height: 34px;
				i {
					font-size: 22px;
					display: inline-block;
				}
			}
			span {
				font-family: "degree";
			}
		}
		.weather-right {
			position: absolute;
			top: 0;
			left: 160px;
			padding-top: 10px;
			.warn {
				font-size: 12px;
				display: inline-block;
				height: 36px;
				padding: 4px;
				margin-right: 8px;
				margin-bottom: 4px;
				background: rgba(0,0,0,0.4);
				border-radius: 4px;
				i { 
					display: inline;
					font-size: 20px;
					margin-right: 5px;
				}
				img {
					width: 28px;
					height: 28px;
				}
			}
		}
	}
	.other-info {
		padding-left: 10px;
		i {
			display: inline;
			font-size: 17px;
		}
		span{
			font-size: 21px;
			margin-right: 10px;
		}
	}
}
.real-weather {
	position: relative;
	&:before {
		border: none;
	}
	.weui_grid {
		padding: 10px 0 0px;
		width: 33.333%;
		text-align: center;
		&:after {
			border: none !important;
		}
		.empty {
			height: 190px;
		}
		i {
			font-size: 30px;
			display: block;
			margin-bottom: 3px;
		}
		img {
			height: 30px;
			margin: 5px auto;
		}
		span {
			margin-bottom: 5px;
			font-size: 12px;
			display: block;
		}
		small {
			font-size: 10px;
			display: block;
		}
		.five-info {
			margin-bottom: 3px;
			font-size: 14px;
		}
		.week-day {
			font-size: 14px;
			margin-bottom: 0;
		}
	}
}
.five-weather {
	position: relative;
	&:before {
		border: none;
	}
	.weui_grid {
		padding: 10px 0 0px;
		width: 20%;
		text-align: center;
		&:after {
			border: none !important;
		}
		.empty {
			height: 190px;
		}
		i {
			font-size: 30px;
			display: block;
			margin-bottom: 3px;
		}
		img {
			height: 30px;
			margin: 5px auto;
		}
		span {
			margin-bottom: 5px;
			font-size: 12px;
			display: block;
		}
		small {
			font-size: 10px;
			display: block;
		}
		.five-info {
			margin-bottom: 3px;
			font-size: 14px;
		}
		.week-day {
			font-size: 14px;
			margin-bottom: 0;
		}
	}
	.weui_grid:before {
		border: none;
	}
	#five_weather_chart {
		position: absolute;
		left: 0;
		top: 125px;
		width: 100%;
		height: 170px;
	}
}

// ============生活指数===========
.life-index {
	.panel-bd {
		padding: 0;
	}
	.weui_grid {
		width: 50%;
		height: 162px;
		&:after, &:before {
			border-color: rgba(255,255,255,0.2);
		}
		.index-left {
			height: 122px;
			line-height: 122px;
			width: 40%;
			float: left;
			i {
				font-size: 48px;
			}
		}
		.index-right {
			width: 60%;
			float: left;
			font-size: 16px;
			padding-top: 15px;
			span, small{
				font-weight: lighter;
				display: block;
				margin-bottom: 10px;
			}
			small {
				color: #B7CED2;
			}
		}
	}
}

// ============健康气象===========
.healthy-weather {
	margin-bottom: 0;
	.panel {
		margin-bottom: 1px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    .panel-heading {
	    padding: 0px;
	    border-bottom: none;
	    border-top-right-radius: 0px;
	    border-top-left-radius: 0px;
	    a {
	    	color: #fff;
	    	display: block;
	    	text-decoration: none;
	    	padding: 0 12px;
	    	font-size: 16px;
	    	&:hover {
	    		color: #fff;
	    		text-decoration: none;
	    	} 
	    	span {
	    		height: 64px;
	    		line-height: 66px;
	    	}
				i {
					font-size: 32px;
					display: inline-block;
				}
	    }
		}
		.panel-body {
			border-top: 1px solid rgba(255,255,255,0.2);
			p {
				font-size: 16px;
				small {
					font-size: 14px;
				}
			}
			// 半透明水平分割线
			.dot-hr {
				margin-top: 5px;
		    margin-bottom: 8px;
		    border: 0;
		    border-top: 1px dotted rgba(255,255,255,0.3);
			}
		}
	}
}

// ============空气质量===========
.air-quality {
	.my-panel {
		margin-bottom: 0;
		.panel-bd {
			padding-bottom: 5px;
		}
	}
	// 空气质量描述
	.now-time {
    font-size: 18px;
    margin-top: 25px;
	}
	.now-air {
		margin-top: 15px;
		height: 30px;
		span {
			font-size: 18px;
		}
	}
	.aqi-small {
		font-size: 6px;
	}
	.tips {
		height: 28px;
		padding: 3px 0;
		font-size: 16px;
		display: inline-block;
		background: rgba(0,0,0,0.3);
		text-align: center;
		border-radius: 12px;
		.simple-tips {
			min-width: 70px;
			height: 22px;
			display: inline-block;
			padding: 0px 8px 0 12px;
		}
		.multi-tips-l {
			height: 22px;
			display: inline-block;
			padding: 0px 12px 0 8px;
			border-right: 1px solid rgba(255,255,255,0.5);
		}
		.multi-tips-r {
			height: 22px;
			display: inline-block;
			padding: 0px 12px 0 8px;
		}
	}
	.pollutant {
		font-size: 15px;
		margin-top: 10px;
		margin-bottom: 16px;
	}
	.range, .range-info {
		width: 100%;
		display: inline-block;
		margin-bottom: 0;
		list-style: none;
		li {
			display:inline-block;
			float: left;
			width: 16.666%;
		}
	}
	.range-info li{
		text-align: right;
		div{
			height: 18px;
		}
	}
	.air-intro {
		text-align: justify;
		padding: 15px 10px 10px;
	}
	// 明天空气质量
	.tomorrow-air {
		width: 100%;
		display: inline-block;
		color: #fff;		
		padding: 8px 0;
		.part {
			width: 50%;
			float: left;
			padding: 4px 0px 4px 15px;
			text-align: center;
			.now-time {
				font-size: 16px;
				margin-top: 10px;
			}
			.now-air {
				margin-top: 10px;
			}
			.tips {
				margin-top: 6px;
			}
			.pollutant {
				margin-top: 18px;
				margin-bottom: 0;
			}
		}
	}
	// 过去24小时空气质量指数变化图
	.last24 {
		color: #fff;
		.title {
			padding: 18px 10px;
			font-size: 16px;
		}
		.content {
			padding: 0 5px;
			height: 325px;
			ul {
				border: none;
				li {
					width: 20%;
					a {
						text-align: center;
						font-size: 12px;
						color: #fff;
				    background-color: transparent;
				    border: none;
				    border-bottom-color: transparent;
				    cursor: default;
				    margin-right: 0;
				    padding: 6px 0 4px;
						border-radius: 0;
					}
				}
				.active a {
					background: rgba(0,0,0,0.27);
				}
			}
			.tab-content {
				padding-top: 10px;
				padding-bottom: 10px;
				width: 100%;
				.tab-pane div {
					height: 240px;
					width: 100%;
				}
			}
		}
	}

	.color1 {
		color: #7ED321;
	}
	.color2 {
		color: #F8E71C;
	}
	.color3 {
		color: #F5A623;
	}
	.color4 {
		color: #F9233E;
	}
	.color5 {
		color: #B6015C;
	}
	.color6 {
		color: #920012;
	}

	.bg1 {
		background-color: #7ED321;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.bg2 {
		background-color: #F8E71C;
	}
	.bg3 {
		background-color: #F5A623;
	}
	.bg4 {
		background-color: #F9233E;
	}
	.bg5 {
		background-color: #B6015C;
	}
	.bg6 {
		background-color: #920012;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

.healthy-index {
  .panel-bd {
    .col-xs-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .item {
      width: 100px;
      height: 100px;
      float: left;
      padding-top: 14px;
      margin-bottom: 10px;
      text-align: center;
      border-radius: 50px;
      font-size: 12px;
      background-color: rgba(2, 2, 2, .18);
      img {
        width: 24px;
        height: 26px;
        margin-bottom: 10px;
      }
      p {
        margin-top: 5px;
        margin-bottom: 0;
        font-weight: 300;
      }
    }
    .active {
      background-color: #1a6d7e;
      border: 3px solid #64c6d8;
    }
  }
  .panel-ct {
    display: none;
    .title {
      padding: 10px;
      font-size: 14px;
      font-weight: 300;
      border-bottom: 1px solid rgba(255,255,255,.3);
    }
    .content {
    	padding-left: 10px;
    	padding-right: 10px;
    	.sub {
    		padding-top: 10px;
    		padding-bottom: 10px;
    		overflow: hidden;
    		.topper {
    			height: 36px;
    			.date-time {
    				width: 60px;
    				height: 28px!important;
    				line-height: 28px!important;
    				margin-top: 4px;
    				border-radius: 16px;
    				background-color: rgba(0,0,0,.23);
    				text-align: center;
    			}
    			div {
    				height: 36px;
    				line-height: 36px;
    			}
    			.col-xs-4,
    			.col-xs-8 {
    				padding-left: 0;
    				padding-right: 0;
    			}
    		}
    		.bottom1 {
    			padding-bottom: 6px;
    			font-size: 14px;
    			font-weight: 300;
    		}
    		.bottom2 {
    			font-size: 12px;	
    			font-weight: 300;
    		}
    	}
    	.bl {
    		border-bottom: 1px solid rgba(255,255,255,.3);
    	}
    }
  }
  .active {
    display: block;
  }
  .level {
  	width: 22px;
  	height: 14px!important;
  	float: left;
  	margin-top: 11px;
  	margin-right: 24px;
  	border-radius: 3px;
  }
  .level1 {
  	background-color: #32B16C;
  }
  .level2 {
  	background-color: #00a0e9;	
  }
  .level3 {
  	background-color: #FFF100;
  }
  .level4 {
  	background-color: #f39800;
  }
  .level5 {
  	background-color: #ff0000;
  }
}
