/**============全局样式==============**/
// 微信版全局字体
// @font-face {
// 	font-family: 'weixin-font';
// 	src: font-url("STHeiti-Light.ttf");
// }
// 气温数字字体
@font-face {
  font-family: 'degree';
  src: font-url("HelveticaNeueLTPro-ThCn.otf");
}

body, html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}
body {
	width: 100%;
  background-color: #fbf9fe;
  font-weight: 100;
}
body * {
	font-family: 'weixin-font';
}
// 排版 & 清除浮动
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.clearfix:before, .clearfix:after {
	content: " ";
  display: table;
}
// 微信端页面，背景图容器
.weui_container {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  .weui_content {
	  overflow-y: auto;
		padding: 12px;
		height: 100%;
	}
}
// 半透明pannel
.my-panel {
	color: #fff;
	margin-bottom: 12px;
	.weui_grids:after { 
		border: none;
	}
	.panel-hd {
		padding: 12px 10px 8px;
		font-size: 16px;
		font-weight: lighter;
		border-bottom: 1px solid rgba(255,255,255,0.25);
		overflow: auto;
		span {
			float: right;
			padding-top: 5px;
			font-size: 12px;
		}
	}
	.panel-bd {
		margin-bottom: 1px;
		padding: 12px 0;
		overflow: auto;
	}
	.panel-ft {
		border-top: 1px solid rgba(255,255,255,0.25);
		padding: 5px 12px;
		overflow: auto;
	}
}
// 半透明背景
.alpha-bg {
	background: rgba(0,0,0,0.25);
}

// overwrite weui tababr
.weui_tab_bd {
	padding-bottom: 54px;
}
.weui_tabbar {
	background: rgba(0,0,0,0.7);
	.weui_tabbar_item {
		padding-top: 0;
		padding-bottom: 3px;
		text-decoration: none;
		.weui_tabbar_label {
			margin-top: 0;
			color: #fff;
		}
		.weui_tabbar_icon {
			height: auto;
		i{
				font-size: 24px;
				color: #fff;
			}
		}
	}
	.weui_bar_item_on {
		color: #00D9CF;
		.weui_tabbar_icon i{
			font-size: 24px;
			color: #00D9CF;
		}
		.weui_tabbar_label {
			color: #00D9CF;
		}
	}
	p {
		margin: 0;
	}
}
// weui_grid 
.weui_grid {
	&:after, &:before {
		border-color: rgba(255,255,255,0.2);
	}
}
