<!-- 社区 -->
<!-- 底部tabbar页 -->
<% content_for :title, "绑定社区" %>

<div class="communities_centre_container">
  <div id="map_container1"></div>
  <div class="communities_belong1">
    <div class="communities_change1">
    <% if @subscriber.present? %>
      <strong>Helllo,<%= @subscriber.nick_name %></strong>
    <% end %>
    <%=link_to new_subscribers_path do %> 
      <span class="pull-right right-pull">［ 手动选择 ］</span>
    <% end -%>
    </div>
    <div class="communities_change1">
      <i class="iconfont">&#xe607;</i><span id="location_address"></span>
    </div>
    <div class="communities_change1">
      <div class="btn btn-success makesure">绑定</div>
    </div>
    <div><%=raw to_rad(117.282201, 31.895706, 117.318188, 31.883793) %></div>

    
    <div id="r-result">
      <input type="button" class="btn" value="批量地址解析" onclick="bdGEO()" />
      <div id="result"></div>
    </div>

  </div>
</div>

<%= render partial: "weixin_share/mapbar_container" %>