<!-- 社区 -->
<!-- 底部tabbar页 -->
<% content_for :title, "绑定社区" %>

<div class="communities_centre_container">
  <div id="map_container1"></div>
  <div class="communities_belong1">
    <div class="communities_change1">
      <strong>Helllo,tt</strong>
      <%=link_to change_community_communities_path do %> 
        <span class="pull-right right-pull">［ 手动选择 ］</span>
      <% end -%>
    </div>
    <div class="communities_change1">
      <i class="iconfont">&#xe607;</i><span id="location_address"></span>
    </div>
    <div class="communities_change1">
      <div class="btn btn-success makesure">绑定</div>
    </div>
  </div>
</div>


<script type="text/javascript" src=http://api.map.baidu.com/api?v=2.0&ak=5l5GtYwm4wTs7hBpeijR7CeGQEbs8jwP></script>
<script type="text/javascript">
  $(document).ready(function() {
    var height = $(window).height()*2;
    var width = $(window).width
      $("div#map_container1").height(height/5);
      $("div#map_container1").width(width);
  });

  // 百度地图API功能
  var map = new BMap.Map("map_container1");    // 创建Map实例
  map.centerAndZoom("上海",15);      // 初始化地图,用城市名设置地图中心点
  map.enableScrollWheelZoom(true);
  map.enableInertialDragging();   //两秒后开启惯性拖拽

  // // 创建地址解析器实例
  // var myGeo = new BMap.Geocoder();
  // // 将地址解析结果显示在地图上,并调整地图视野
  // myGeo.getPoint("上海市嘉定区外冈镇", function(point){
  //   if (point) {
  //     map.centerAndZoom(point, 16);
  //     map.addOverlay(new BMap.Marker(point));
  //     alert(point.lng+','+point.lat);
  //   }else{
  //     alert("您选择地址没有解析到结果!");
  //   }
  // }, "上海市");


  // var index = 0;
  // var myGeo = new BMap.Geocoder();
  // var adds = [
  //   "包河区金寨路1号（金寨路与望江西路交叉口）",
  //   "庐阳区凤台路209号（凤台路与蒙城北路交叉口）",
  //   "蜀山区金寨路217号(近安医附院公交车站)",
  //   "蜀山区梅山路10号(近安徽饭店) ",
  //   "蜀山区 长丰南路159号铜锣湾广场312室",
  //   "合肥市寿春路93号钱柜星乐町KTV（逍遥津公园对面）",
  //   "庐阳区长江中路177号",
  //   "新站区胜利路89"
  // ];
  // function bdGEO(){
  //   var add = adds[index];
  //   geocodeSearch(add);
  //   index++;
  // }
  // function geocodeSearch(add){
  //   if(index < adds.length){
  //     setTimeout(window.bdGEO,400);
  //   } 
  //   myGeo.getPoint(add, function(point){
  //     if (point) {
  //       document.getElementById("result").innerHTML +=  index + "、" + add + ":" + point.lng + "," + point.lat + "</br>";
  //       var address = new BMap.Point(point.lng, point.lat);
  //       addMarker(address,new BMap.Label(index+":"+add,{offset:new BMap.Size(20,-10)}));
  //     }
  //   }, "上海市");
  // }
  // // 编写自定义函数,创建标注
  // function addMarker(point,label){
  //   var marker = new BMap.Marker(point);
  //   map.addOverlay(marker);
  //   marker.setLabel(label);
  // }



  var geolocation = new BMap.Geolocation();
  geolocation.getCurrentPosition(function(r){
    if(this.getStatus() == BMAP_STATUS_SUCCESS){
      var mk = new BMap.Marker(r.point);
      map.addOverlay(mk);
      map.panTo(r.point);

      var myGeo = new BMap.Geocoder();
      myGeo.getLocation(new BMap.Point(r.point.lng, r.point.lat),
          function(rs) {
            var addComp = rs.addressComponents;
            var address = "您当前的定位社区为: " + addComp.district+addComp.street + "社区"
            $("span#location_address").text(address)
            // location.href = "http://localhost:3000/location_weather/query?lon="+r.point.lng+"&lat="+r.point.lat+"&name="+addComp.district+addComp.street;
          });
      // alert('您的位置：'+r.point.lng+','+r.point.lat);
    }
    else {
      alert('failed'+this.getStatus());
    }        
  },{enableHighAccuracy: true})
</script>
