<!-- 社区 -->
<!-- 底部tabbar页 -->
<% content_for :title, "实况监测" %>

<div class="weui_container">
  <div class="weui_detection">
    <div class="detection_content">
      <i class="iconfont">&#xe607;</i>
    </div>
    <div class="detection_content alpha-bg">
      www
    </div>
    <div class="detection_content alpha-bg">
      lll
    </div>
    <div class="detection_content alpha-bg">
      ccc
    </div>
    <div class="detection_content alpha-bg">
      ddd
    </div>
    <%= render partial: "weixin_share/tabbar" %>
  </div>
</div>
