<!-- 社区 -->
<!-- 底部tabbar页 -->
<% content_for :title, "实况监测" %>

<div class="weui_container">
  <div class="weui_detection">
    <div class="detection_content">
      <i class="iconfont">&#xe607;</i><span>漕宝路梅龙镇社区</span>
    </div>
    <div class="detection_content alpha-bg">
      <div class="my-panel">
        <div class="panel-hd mborder">wfeiwoenf</div>
        <div class="panel-bd">wefawnjdlw</div>
      </div>
    </div>
    <div class="detection_content alpha-bg">
      <div class="my-panel">
        <div class="panel-hd mborder">气象实况</div>
        <div class="panel-bd">wefawnjdlw</div>
      </div>
    </div>
    <div class="detection_content alpha-bg">
      <div class="my-panel">
        <div class="panel-hd mborder">积水实况</div>
        <div class="panel-bd">wefawnjdlw</div>
      </div>
    </div>
    <div class="detection_content alpha-bg">
      <div class="my-panel">
        <div class="panel-hd mborder">闪电分布</div>
        <div class="panel-bd">wefawnjdlw</div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "weixin_share/tabbar" %>
