<!-- 社区 -->
<!-- 底部tabbar页 -->
<% content_for :title, "灾情互动" %>
<div class="weui_container">
	<div class="weui_tab">
	    <%= render partial: "weui_tab_bd_1", 'data-turbolinks-track' => true %>
	    <%= render partial: "weixin_share/tabbar", 'data-no-turbolink' => true %>
	</div>
</div>


